<section class="conversation">
  <h2>Your Conversation with <%= (conversation.users - [current_user]).map(&:first_name).join(", ") %></h2>
  <ul class="messages">
    <% conversation.messages.each do |message| %>
    <li><%= message.sender.name %>: <%= message.body %></li>
      <!-- <li> <%= render partial: "users/preview", locals: {user: message.sender} %> <%= message.body %></li> -->
    <% end %>
  </ul>

  <form action="<%= conversation_url(conversation) %>" method="post" class="new-message" data-remote="true">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="_method" value="put">

    <h3>Got something to say?</h3>

    <textarea name="message_attributes[body]" placeholder=" Your message here."></textarea>

    <h3>Add someone to this conversation</h3>
    <ul class="users-for-conversation">
      <% User.all.each do |user| %>
        <% next if conversation.users.include?(user)%>
        <label>
          <input
            type="checkbox"
            name="conversation[user_ids][]"
            value="<%= user.id %>"> <%= user.name %>
        </label>
      <% end %>
    </ul>


    <input type="submit" value="Send your message">
  </form>
</section>

<a href="<%= conversations_url %>">&laquo; Back to Conversations</a>

<script>

$(document).ready(function() {
  $(".conversation").off();

  $(".conversation").on("ajax:success", ".new-message", function(event, data) {
    console.log(data);
    $(".content").html(data)
  });

});

</script>
