<h2>Your Conversation with <%= (@conversation.users - [current_user]).map(&:first_name).join(", ") %></h2>
<ul class="messages">
  <% @conversation.messages.reverse.each do |message| %>
  <li><%= message.sender.name %>: <%= message.body %></li>
    <!-- <li> <%= render partial: "users/preview", locals: {user: message.sender} %> <%= message.body %></li> -->
  <% end %>
</ul>

<form action="<%= conversation_url(@conversation) %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="put">

  <h3>Got something to say?</h3>

  <textarea name="message_attributes[body]" placeholder=" Your message here."></textarea>

  <h3>Add someone to this conversation</h3>
  <ul class="users-for-conversation">
    <% User.all.each do |user| %>
      <% next if @conversation.users.include?(user)%>
      <label>
        <input
          type="checkbox"
          name="conversation[user_ids][]"
          value="<%= user.id %>"> <%= user.name %>
      </label>
    <% end %>
  </ul>


  <input type="submit" value="Send your message">
</form>

<a href="<%= conversations_url %>"><< Back to Conversations</a>
