<h2>Your Conversation with <%= (@conversation.users - [current_user]).map(&:first_name).join(", ") %></h2>
<ul class="messages">
  <% @conversation.messages.reverse.each do |message| %>
  <li><%= message.sender.name %>: <%= message.body %></li>
    <!-- <li> <%= render partial: "users/preview", locals: {user: message.sender} %> <%= message.body %></li> -->
  <% end %>
</ul>

<a href="<%= conversations_url %>"><< Back to Conversations</a>
