<% photo = user.profile_photo %>
<% url = user_url(user) %>

<div class="preview clearfix">
  <div class="preview-photo">
    <a href="<%= url %>">
      <%= photo ? image_tag(photo.photo_file.url(:small)) : "" %>
    </a>
  </div>

  <div class="preview-name clearfix">
    <h3>
      <a href="<%= url %>">
        <%= user.name %>
      </a>
    </h3>

    <% if post.recipient && post.recipient != post.author %>
      &nbsp→&nbsp
      <h3>
        <a href="<%= user_url(post.recipient) %>"><%= post.recipient.name %></a>
      </h3>
    <% end %>
  </div>
</div>
