<h2>View Photo</h2>

<figure class="large-photo">
  <%= image_tag photo.photo_file.url(:big) %>
  <figcaption><%= photo.caption %></figcaption>

  <div class="change-photo">
    <% if params[:user_id].to_i == current_user.id %>
      <a href="<%= edit_user_photo_url(params[:user_id], photo) %>">Edit Photo</a>
      <%= button_to "Delete Photo", user_photo_url(params[:user_id], photo), method: :delete %>
    <% end %>
  </div>

  <!-- lets you make the picture your profile picture -->

  <form action="<%= user_url(current_user) %>" method="POST">

    <input type="hidden" name="_method" value="PUT">

    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="user[profile_photo_id]" value="<%= photo.id %>">

    <input type="submit" value="Make This Your Profile Picture">
  </form>
</figure>

<!-- likes information -->

<%= render partial: 'user_likes/form', locals: {object: photo, type: "Photo"} %>

<div class="tagging-users">
  <%= render(partial: 'tags/tagged_users', locals: {object: photo}) %>
</div>

<!-- tag friends if the photo belongs to you or your friends -->

<% if current_user.id == params[:user_id].to_i || current_user.is_friends_with?(params[:user_id]) %>

  <h3>Tag Your Friends</h3>

  <ul>
    <% tagged_users = photo.tagged_users %>
    <% (current_user.friends + [current_user]).each do |friend| %>
      <% next if tagged_users.include?(friend) %>

      <li>
        <%= render(partial: 'tags/form', locals: {friend: friend, klass: Photo}) %>
      </li>

    <% end %>
  </ul>

<% end %>

<!-- show comments -->

<%= render partial: 'comments/index', locals: {object: photo} %>

<!-- new comment form -->

<%= render partial: 'comments/form', locals: {object: photo} %>

<!-- back to photos -->

<a href="<%= user_photos_url(params[:user_id]) %>"><< Back to Photos</a>