<h3>View Photo</h3>

<%= image_tag @photo.photo_file.url(:big) %>
<%= @photo.caption %>

<% if params[:user_id].to_i == current_user.id %>
  <%= button_to "Delete Photo", user_photo_url(params[:user_id], @photo), method: :delete %>
  <a href="<%= edit_user_photo_url(params[:user_id], @photo) %>">Edit Photo</a>
<% end %>

<%= render(partial: 'tags/tagged_users', locals: {object: @photo}) %>

<% if current_user.id == params[:user_id].to_i || current_user.is_friends_with?(params[:user_id]) %>
  <h3>Tag Your Friends</h3>
  <ul>
    <% tagged_users = @photo.tagged_users %>
    <% (current_user.friends + [current_user]).each do |friend| %>
      <% next if tagged_users.include?(friend) %>

      <li>
        <%= render(partial: 'tags/form', locals: {friend: friend, klass: Photo}) %>
      </li>

    <% end %>
  </ul>
<% end %>

<!-- lets you make the picture your profile picture -->

<form action="<%= user_url(current_user) %>" method="POST">

  <input type="hidden" name="_method" value="PUT">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="user[profile_photo_id]" value="<%= @photo.id %>">

  <input type="submit" value="Make This Your Profile Picture">
</form>

<a href="<%= user_photos_url(params[:user_id]) %>">Back to Photos</a>