<article class="post">
  <header class="post-header">
    <% author = post.author %>
    <%= render(partial: 'users/preview', locals: {user: author}) %>

    <% if post.recipient && post.recipient != author %>

    <div class="preview-name">
      &nbsp→ <a href="<%= user_url(post.recipient) %>"><%= post.recipient.name %></a>
    </div>

    <% end %>
  </header>


  <p><%= post.body %></p>

  <footer class="post-footer clearfix">
    <time class="post-page-link">
      <a href="<%= post_url(post) %>">
        <%= post.created_at.to_formatted_s(:short)  %>
      </a>
    </time>

    <% if author == current_user %>
      <div class="edit-link">
        <a href="<%= edit_user_post_url(author, post) %>" data-remote="true">Edit</a>
      </div>
    <% end %>

    <% if author == current_user || current_user.id == post.recipient_id %>
      <%= button_to "Delete", user_post_url(current_user, post), method: :delete %>
    <% end %>

    <div class="likes">
      <p>
        <%= render partial: 'user_likes/form', locals: {post: post, type: "Post"} %>
      </p>
    </div>
  </footer>

</article>


<script>

  $(document).ready(function(event) {
    $(".posts").off();

    $(".posts").on("ajax:success", ".edit-link a", function(event, data) {

      var $p = $(this).parent().parent().parent().find("p");
      $p.html(data);

      $(".new-post").off();

      $(".new-post").on("ajax:success", function(event, data) {
        var newText = $(this).find("textarea").val();
        $p.html(newText);
        this.reset();
      });
    });

    // for rendering the post by itself - not worth it right now
    // $(".posts").on("ajax:success", ".post-page-link a", function(event, data) {
    //
    //   $(".content").html(data)
    //
    // });
  });

</script>
