<!-- much of this will be in the sidebar as well -->
<% if logged_in? %>
  Hello, <a href="<%= user_url(current_user) %>"><%= current_user.first_name %>!</a>
  <a href="<%= root_url %>">Feed</a>
  <a href="<%= user_friends_url(current_user) %>">Friends</a>
  <a href="<%= users_url %>">Find New Friends</a>
  <%= button_to "Log out", session_url, method: :delete %>
<% else %>
  <a href="<%= new_session_url %>">Log In</a>
  <a href="<%= new_user_url %>">Sign Up</a>
<% end %>