<!DOCTYPE html>
<html>
<head>
  <title>BeanBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header clearfix">
  <h1 class="logo"><a href="<%= root_url %>" data-remote="true">BeanBook</a></h1>
  <nav><%= render 'layouts/user-data' %></nav>
</header>

<div class="page clearfix">

  <%= render 'layouts/sidebar' %>

  <section class="content">
    <%= render 'layouts/errors' %>
    <%= render 'layouts/notices' %>

    <%= yield %>
  </section>

</div>

<footer>

</footer>

</body>
</html>

<script>

  $(document).ready(function(event) {
    // do i need to worry about garbage collection?

    $("header").off();

    $("header").on("ajax:success", "a", function(event, data) {
      $(".content").html(data);
    });

    $(".sidebar").on("ajax:success", "a", function(event, data) {
      $(".content").html(data);
    });

  });

</script>
